.form {
  display: inline-block;
}

.input {
  margin-left: 10px;
  border-radius: 5px;
}

.add {
  display: block;
  background-color: white;
  padding: 0.5rem 2rem;
  border: black;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #852905;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  margin-left: auto;
  margin-top: 10px;
}
